<!--  Quel formulaire je veux generer ? -->
<!-- <form action="/cocktails" method="post">
  <input type="text" name="cocktail[name]">
  <input type="submit" value="Create a cocktail">
</form> -->

<!-- Helper -->
<%= simple_form_for @cocktail do |f| %>
<%= f.label :name, "Cocktail name" %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>

<%= link_to "Back to all cocktails", root_path %>
